<!DOCTYPE html>
<html>
<head>
	<title>비상상황 | 글로벌 No.1 KT </title>

	<script type="text/javascript" src="https://svcapi.gigagenie.ai/sdk/v1.0/js/gigagenie.js"></script>
	<script type="text/javascript">

		var apistatus=0;
		var options={};
		var ws;
		var status='NI';
		var appid;
		var containerid;
		var wsstate=0;
		var initstate=0;
		var authcode;

		function init(){
		  var options={};
		  options.apikey="RTUwMDI5ODF8R0JPWERFVk18MTU2MTUyMzc5MjkzMw==";
		  options.keytype="GBOXDEVM";
		  gigagenie.init(options,function(result_cd,result_msg,extra){
		    if(result_cd===200){
		      status='IS';
		      appid=extra.appid;
		      console.log('Initialize Success, appid:'+extra.appid);
		    };
		  });
		 }


		 function confirmFunc(){
		  var options={};
		  var numbers=getNumber();
		  options.voicemsg=numbers[0]+' '+numbers[1];
		  gigagenie.voice.getVoiceText(options,function(result_cd,result_msg,extra){
		    if(result_cd===200){
		      console.log(extra.voicetext);
		      if(extra.voicetext==="네"){
				window.location = "exercise_start.html";

		      } else {
		        alert(extra.voicetext+" 틀렸습니다.");
		      }
		    } else {
		      alert("다시해보세요");
		    }

		  });
		};


	</script>
</head>
<body>

	<div style="text-align: center;">
		<img src="bell-icon-9.png" style="width:500px; top: 30%; left:37.5%; position: absolute;">
  	</div>
</body>
</html>
